# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so

# Environment files
.env
*.env

# PyCharm project settings
.idea/
*.iml

# OS-specific
.DS_Store

# Python virtual environments
.venv/
venv/

# Security-sensitive files
*.pem

# Logs and test artifacts
*.log
*.sqlite3
test_main.http
